/* Tablet */
@media all and (max-width: 1000px) {
  /* Header */
  header ul li a {
    font-size: 16px;
  }

  /* Hero Content */
  .text-hero h4 {
    font-size: 18px;
  }
  .text-hero h1 {
    font-size: 44px;
  }
  .text-hero h2 {
    font-size: 24px;
  }
  .btn {
    padding: 9px 18px;
    color: white;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
  }
  .picture-portfolio img {
    width: 290px;
    height: 212px;
  }

  /* services */
  .service .container .content ul {
    display: inline-block;
  }
  .service .container .content .list-service {
    flex: none;
    width: 80%;
    margin: 0 auto;
  }
  .service .container .content .list-service p {
    padding-bottom: 15px;
  }
  
    /*teams */
   .teams .container .content ul {
    display: inline-block;
  }
  .teams .container .content .list-teams {
    flex: none;
    width: 80%;
    margin: 20px auto;
  }
  .teams .container .content .list-teams h3 {
    padding-bottom: 15px;
  } 

  .teams .container .content .list-teams p {
    padding-bottom: 15px;
  } 
}

/* Smartphone */
@media all and (max-width: 670px) {
  /* Hero */
  header ul {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    background: #dc143c;
    display: block;
    top: 0;
    left: -100%;
    overflow-y: auto;
    line-height: 50px;
    padding: 50px 10px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
  }
  #menu-btn:checked ~ ul {
    left: 0%;
  }
  #menu-btn:checked ~ .menu-icon {
    display: none;
  }
  header ul li {
    margin: 15px 10px;
  }
  header ul li a {
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  header ul .menu-cancel {
    display: block;
    position: absolute;
    left: 300px;
    top: 4px;
    z-index: 5;
  }
  header .menu-icon {
    display: block;
  }

  /* Hero Content */
  .picture-portfolio img {
    display: none;
  }
  .hero-content {
    padding-top: 80px;
    padding-bottom: 30px;
  }
  .text-hero {
    padding: 0;
  }

  /* services */
  .service .container .content ul {
    display: inline-block;
  }
  .service .container .content .list-service {
    flex: none;
    width: 100%;
    margin: 0 auto;
  }
  .service .container .content .list-service p {
    padding-bottom: 15px;
  }

  /* teams */
   .teams .container .content ul {
    display: inline-block;
  }
  .teams .container .content .list-teams {
    flex: none;
    width: 100%;
    margin: 20px auto;
  }
  .teams .container .content .list-teams h3 {
    padding-bottom: 15px;
  } 

  .teams .container .content .list-teams p {
    padding-bottom: 15px;
  }

  /* contact form*/
  .contact .container h2 {
    font-size: 20px;
  }

  .contact .container .row100 .inputBox .text {
    font-size: 14px;
  }

  .contact .container .row100 .inputBox input,
  .contact .container .row100 .inputBox.textarea textarea {
    font-size: 14px;
  }

  input[type="submit"] {
    font-size: 14px;
  }

  input[type="submit"]:hover {
    font-size: 14px;
    border: 1px solid #dc143c;
  }

  footer {
    font-size: 14px;
  }
}
