/* Tablet */
@media all and (max-width: 1000px) {
  /* Header */
  header {
    padding: 0 20px;
  }
  header ul li a {
    font-size: 16px;
  }

  /* Hero Content */
  .hero-content .container {
    padding: 0 20px;
  }
  .text-hero h4 {
    font-size: 18px;
  }
  .text-hero h1 {
    font-size: 44px;
  }
  .text-hero h2 {
    font-size: 24px;
  }
  .btn {
    padding: 9px 18px;
    color: white;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
  }
  .picture-portfolio img {
    width: 290px;
    height: 212px;
  }

  /* services */
  .service .container {
    padding: 0 20px;
  }
  .service .container .content ul {
    flex-wrap: wrap;
  }
  .service .container .content .list-service {
    width: 20%;
    margin: 0 10px;
  }

  /*teams */
  .teams .container {
    padding: 0 20px;
  }
  .teams .container .content {
    padding: 30px 0;
  }
  .teams .container .content ul {
    flex-wrap: wrap;
  }
  .teams .container .content .list-teams {
    width: 40%;
    margin: 10px 10px;
  }
}

/* Smartphone */
@media all and (max-width: 670px) {
  /* Header */
  header ul {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    background: #dc143c;
    display: block;
    top: 0;
    left: -100%;
    overflow-y: auto;
    line-height: 50px;
    padding: 50px 10px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
  }
  #menu-btn:checked ~ ul {
    left: 0%;
  }
  #menu-btn:checked ~ .menu-icon {
    display: none;
  }
  header ul li {
    margin: 15px 10px;
  }
  header ul li a {
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  header ul .menu-cancel {
    display: block;
    position: absolute;
    left: 300px;
    top: 4px;
    z-index: 5;
  }
  header .menu-icon {
    display: block;
  }

  /* Hero Content */
  .picture-portfolio img {
    display: none;
  }
  .hero-content {
    padding-top: 80px;
    padding-bottom: 46px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .text-hero {
    padding: 0;
  }
  .btn-wrapper {
    display: flex;
  }
  .btn {
    width: 100%;
  }

  /* services */
  .service .container .header {
    padding-bottom: 30px;
  }
  .service .container .content ul {
    flex-direction: column;
  }
  .service .container .content .list-service {
    width: 60%;
    margin: 10px 0;
  }
  .service .container .content .list-service p {
    padding-bottom: 15px;
  }
  .list-service img {
    width: 50px;
    height: 50px;
  }
  .list-service h3 {
    font-size: 20px;
  }
  .list-service p {
    font-size: 14px;
  }

  /* teams */
  .teams .container .header h2 {
    font-size: 24px;
  }
  .teams .container .content ul {
    flex-direction: column;
  }
  .teams .container .content .list-teams {
    flex: none;
    width: 80%;
    margin: 10px auto;
  }
  .list-teams h3 {
    font-size: 20px;
  }
  .list-teams p {
    font-size: 14px;
  }

  /* contact form*/
  .contact .container h2 {
    font-size: 24px;
  }
  .contact .container .row100 .inputBox .text {
    font-size: 16px;
  }
  .contact .container .row100 .inputBox input,
  .contact .container .row100 .inputBox.textarea textarea {
    font-size: 16px;
  }
  .btn-message {
    display: flex;
    text-align: center;
  }
  .message {
    font-size: 16px;
    width: 100%;
  }
}

@media all and (max-width: 400px) {
  /* Header */
  header {
    padding: 0 20px;
  }

  /* Hero Content */
  .hero-content .container {
    padding: 0 20px;
  }
  .text-hero h4 {
    font-size: 16px;
  }
  .text-hero h1 {
    font-size: 32px;
  }
  .text-hero h2 {
    font-size: 20px;
  }

  /* Services */
  .service .container {
    padding: 0 20px;
  }
  .service .container .content .list-service {
    width: 70%;
  }

  /* Teams */
  .teams .container {
    padding: 0 20px;
  }
  .teams .container .content .list-teams {
    width: 70%;
  }
}
