/* Pengaturan Umum */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html,
body {
  font-family: "Roboto", sans-serif;
}

/* HEADER */
header {
  display: flex;
  position: fixed;
  padding: 0 80px;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  background-color: #dc143c;
  z-index: 10;
}
.header-logo h4 {
  color: white;
  font-size: 30px;
  font-weight: 700;
  padding: 7px 0;
}
#menu-btn,
#cancel-btn {
  display: none;
}
header ul .menu-cancel {
  color: white;
  float: right;
  font-size: 30px;
  padding: 7px 0;
  align-items: center;
  cursor: pointer;
  display: none;
}
header .menu-icon {
  color: white;
  float: right;
  font-size: 30px;
  padding: 7px 0;
  align-items: center;
  display: none;
  cursor: pointer;
}
header ul {
  display: flex;
  list-style: none;
  padding: 15px 0;
}
header ul li a {
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 6px 10px;
  border-radius: 8px;
  transition: all 0.3s ease;
}
header ul li a:hover {
  border: 1px solid white;
}

/* HERO CONTENT */
.hero-content {
  width: 100%;
  padding-top: 50px;
}
.hero-content .container {
  display: flex;
  padding: 0 80px;
  justify-content: space-between;
}
.text-hero {
  padding: 85px 0;
}
.text-hero h4 {
  font-size: 27px;
  margin-bottom: 5px;
  font-weight: 500px;
}
.text-hero h1 {
  font-size: 65px;
  margin-bottom: 5px;
  font-weight: 700px;
}
.text-hero h2 {
  font-size: 42px;
  font-weight: 700px;
}
.btn {
  padding: 10px 21px;
  color: white;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
}
.submit {
  background-color: #dc143c;
  box-shadow: 0 7px #e6748b;
}
.btn:hover {
  color: #dc143c;
  border: 2px solid #dc143c;
}
.btn:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
.btn-wrapper {
  margin-top: 25px;
}
.submit:hover {
  background-color: white;
}
.picture-portfolio {
  display: flex;
  padding: 49px 0;
  position: relative;
  animation: animasigerak 3s ease;
}
@keyframes animasigerak {
  from {
    left: 600px;
    top: 0px;
  }
  to {
    left: 0px;
    top: 0px;
  }
}

/* SECTION CONTENT */
/* SERVICES */
.service {
  background-color: #414141;
}
.service .container {
  padding: 0 80px;
}
.service .container .header {
  text-align: center;
  color: #fff;
  font-family: roboto;
  padding-top: 30px;
  padding-bottom: 40px;
  font-size: 24px;
}
.service .container .content ul {
  display: flex;
  cursor: pointer;
}
.service .container .content .list-service {
  list-style: none;
  flex: auto;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #222;
  border-radius: 8px;
  margin: 0 20px;
}
.service .container .content .list-service:hover {
  pointer-events: auto;
  background-color: #dc143c;
  transition: all 0.5s;
}
.list-service:hover img {
  pointer-events: all;
  filter: invert(100%) sepia(3%) saturate(11%) hue-rotate(36deg)
    brightness(102%) contrast(101%);
  transition: all 0.5s;
}
.list-service img {
  width: 70px;
  height: 70px;
  column-fill: auto;
  margin-top: 40px;
  margin-bottom: 25px;
  filter: invert(19%) sepia(78%) saturate(7218%) hue-rotate(342deg)
    brightness(89%) contrast(93%);
}
.list-service p {
  margin: 15px 30px;
  font-size: 16px;
  font-family: roboto;
}
/* END SERVICES */

/* FOOTER */
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #414141;
}

.contact .container {
  width: 80%;
  padding: 20px;
}

.contact .container h2 {
  width: 100%;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
}

.contact .container .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.contact .container .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}

.contact .container .row100 .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: #ffffff;
}
.contact .container .row100 .inputBox input,
.contact .container .row100 .inputBox.textarea textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}

.contact .container .row100 .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

.container .row100 .inputBox input:focus + .text,
.container .row100 .inputBox input:valid + .text {
  top: -35px;
  left: -10px;
}

.container .row100 .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #ffffff;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.container .row100 .inputBox input:focus ~ .line,
.container .row100 .inputBox input:valid ~ .line {
  height: 100%;
}

.container .row100 .inputBox.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

.container .row100 .inputBox.textarea textarea {
  height: 100%;
  resize: none;
}

.container .row100 .inputBox textarea:focus + .text,
.container .row100 .inputBox textarea:valid + .text {
  top: -35px;
  left: -10px;
}

.container .row100 .inputBox textarea:focus ~ .line,
.container .row100 .inputBox textarea:valid ~ .line {
  height: 100%;
}

input[type="submit"] {
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  outline: none;
  background: #dc143c;
  color: rgb(255, 255, 255);
  font-size: 18px;
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #ffffff;
  color: #000;
}
